body.edit-php h1.wp-heading-inline {
    margin-top:25px;
}
body.edit-php .table-view-list.posts,
body.edit-php .table-view-excerpt.posts {
    margin-top:40px;
}

body.post-php h1.wp-heading-inline {
    margin-top:25px;
}
body.post-new-php #entity-add,
body.post-new-php #billing-add,
body.post-php #entity-add,
body.post-php #billing-add {
    margin-top:40px;
    border:1px solid #23667b4a;
}

body.post-new-php #entity-add,
body.post-new-php #billing-add,
body.post-php #entity-add,
body.post-php #billing-add,
body.edit-php .table-view-list.posts,
body.edit-php .table-view-excerpt.posts {
    /*background:#398b9b linear-gradient(60deg, #f0f0f0 10%, #fff 90%);*/
    box-shadow:4px 6px 25px 0px #00000042, 0px 2px 5px 0px #23667b;
}

.fcp-form-field-warn > li {
    color:#a94646;
}
.fcp-form-field-warn > li:last-child {
    color:#4699a9;
}

.update-nag.notice { /* hide the wp update message */
    display:none;
}

body.wp-admin.post-type-billing .misc-pub-section.misc-pub-visibility { /* move */
    display:none;
}
body.wp-admin.post-type-billing .misc-pub-section.misc-pub-curtime {
    display:none;
}
